[Desktop Entry]
Version=1.1
Type=Application
Name=League of Legends
Comment=League of Legends helper script
Icon=leagueoflegends
Exec=leagueoflegends start
Actions=killall;winecfg;
Categories=Game;Wine;
StartupWMClass=leagueclientux.exe

[Desktop Action killall]
Name=killall LoL Processes
Exec=leagueoflegends kill

[Desktop Action winecfg]
Name=run winecfg in LoL Prefix
Exec=leagueoflegends run winecfg
